gunicorn==20.1.0
eventlet==0.30.2
flask
flask-bootstrap
spotipy==2.19.0
pandas
scikit-learn
Werkzeug
Stripe
flask_socketio
greenlet
tenacity
flask_mobility
flask_caching
flask_session
typing
oauthlib
requests_oauthlib
requests
psutil
numpy