@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Nunito+Sans:wght@400;700&display=swap');
:root {
  --spotify-green: #1DB954;
  --dark-green: #128743;
  --light-green: #4ED964;
  --off-white: #F7F7F7;
  --dark-grey: #2C2C2C;
  --darker-green: #1AA34D;
  --complementary-purple: #6F3AB3;
  --darker-purple: #5C2E9A;
}

@font-face {
  font-family: "Circular";
  src: url("static/fonts/CircularStd-Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* page nav */

.page-item.active .page-link {
  background-color: #1cd760 !important;
  border-color: #1cd760 !important;
  color: black!important;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, #E6CEFF 0%, #4300ff 100%);
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 100%;
}


.main-container {
    min-height: calc(100vh - 50px); /* 50px is the height of your footer */
}

.container {
  margin: 0 auto;
  padding: 0;
}

.header-spacing {
  margin-bottom: 30px;
}

/*tooltip css*/

.tooltip {
  font-size: 0.875rem;
}

.tooltip-inner {
  background-color: #222;
  color: #fff;
  border-radius: 4px;
  padding: 6px 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #222;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: #222;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #222;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
  border-left-color: #222;
}


/*mobile css*/

    @media (max-width: 767px) {
        .card-title {
            font-size: 18px;
        }
        .playlist-card {
            margin-bottom: 20px;
        }
    }

    .card-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

@media (max-width: 767px) {
  .rate-songs-card {
    width: 100%;
  }
}

.tracks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rating-stars {
  display: flex;
  justify-content: center;
}

/* Fonts */

html, body {
  font-family: 'Circular', 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #fff;
}

body {
  font-family: 'Circular', 'Poppins', sans-serif;
  color: #fff;
  font-size: 16px;
}

p, li, a {
  font-weight: 700;
}

h2, h3, h4, h5, h6 {
  color: #fff;
  letter-spacing: 0.05em;
  margin-bottom: 0.5em;
}

h1{
  font-size: 2rem;
}

p, li {
  line-height: 1.5;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: var(--spotify-green);
}

a:hover {
  text-decoration: underline;
}

nav a,
h2, h3, h4, h5, h6 {
  color: var(--off-white);
}

/* Header and footer styles */
.navbar-expand-lg {
  background-color: #36334c !important;
}

.nav-user-avatar {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #c79aff;
  color: #fff;
  font-weight: 700;
  font-family: 'Circular', 'Poppins', sans-serif;
  font-size: 1.1rem;
  margin-left: 1rem;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: -87px;
  text-align: center;
  top: 100%;
  background-color: #36324c;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-family: 'Circular', 'Poppins', sans-serif;
  min-width: 160px;
  margin-top: 1rem;
}

.dropdown-menu a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #fff;
}

.dropdown-menu a:hover {
  background-color: #c79aff;
}


footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  clear: both;
  z-index: 10 !important;
}
.container-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 4rem);
}

.footer-wrapper {
  margin-top: auto;
}

body.fixed-footer footer {
  position: fixed !important;
  bottom: 0;
  width: 100%;
}

/*body.fixed-footer {
      background-image: url("/static/images/loginbg.png") !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
    
} */
@keyframes gradient-animation {
  0%, 100% {
    background: linear-gradient(45deg, #9b59b6, #3498db, #2ecc71);
    background-size: 600% 600%;
    background-position: 0% 100%;
  }
  25% {
    background: linear-gradient(45deg, #9b59b6, #3498db, #2ecc71);
    background-size: 600% 600%;
    background-position: 100% 0%;
  }
  50% {
    background: linear-gradient(45deg, #9b59b6, #3498db, #2ecc71);
    background-size: 600% 600%;
    background-position: 100% 100%;
  }
  75% {
    background: linear-gradient(45deg, #9b59b6, #3498db, #2ecc71);
    background-size: 600% 600%;
    background-position: 0% 0%;
  }
}

body.fixed-footer {
  animation: gradient-animation 30s ease infinite;
}


.inner-container {
  padding: 0 20px;
}

/* Loader styles */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999; /* Set a high z-index value */
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999; /* Set a high z-index value */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}


.loader-wrapper.fadeOut {
  opacity: 0;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #1DB954;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* New simplified landing page specific styles */

.simplified-hero {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.sign-up-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sign-up-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotify-logo {
  height: 40px;
  margin-right: 10px;
}

.login-option {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
}

.login-option a {
  color: #fff;
  text-decoration: none;
}

.login-option a:hover {
  text-decoration: underline;
}

  .nav-link:hover {
    color: #1DB954 !important;
  }

  .navbar-brand {
    font-size: 2rem;
    font-weight: 700;
}

/* Playlist page specific styles */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.playlists-h1 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 2rem;
  text-transform: normal;
  color: #36324c;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px; 
}

.col-md-4 {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  padding: 10px;
}

.playlist-card {
  background-color:#36324c;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: white;
}

.playlist-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px); /* Create a slight lift effect on hover */
}

.playlist-card .card-body {
  padding: 20px;
  text-align: center;
  font-size: 0.875rem;
}

.playlist-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); /* Add a soft shadow around the image */
  transition: box-shadow 0.3s ease-in-out;
}

.playlist-img:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25); /* Increase shadow intensity on hover */
}

.newly-created {
  background: linear-gradient(270deg, #E6CEFF, #4300ff, #00ff5b);
  background-size: 300% 300%;
  animation: gradient-animation 3s ease-in-out forwards;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Rate Playlist page specific styles */
.mb-4 {
  text-align: center !important;
  color: #36324c !important;
}
.rate-songs-h1 .mb-4 {
  text-align: center !important;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 2rem;
  text-transform: normal;
  color: #36324c !important;

}

.tracks-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center !important; 
}

.rate-songs-card {
  background-color:#36324c;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out, opacity 0.5s ease-in-out;
  margin-bottom: 20px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; 
}

.body-text {
  color:#36324c !important;
  text-align: center !important;
}

.rate-songs-card-h1 {
  text-transform: normal;
  font-size: 1rem;
}

.rate-songs-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.rate-songs-card.loaded {
  opacity: 1;
}

.rate-playlist-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: transparent;
  color: #fff;
}

.rate-songs-card .card-body {
  font-size: 0.875rem;
  text-align: center;
}

.rating-stars {
  display: flex;
  justify-content: center;
}

.rating-stars label {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  font-size: 24px;
  color: #ddd;
  padding: 5px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.rating-stars label.green {
  color: #1DB954;
  background-color: rgba(29, 185, 84, 0.2);
}

.rating-stars input[type="radio"] {
  display: none;
}
.rate-playlist-submit {
  text-align: center;
  padding-bottom: 30px !important;
  margin-bottom: 40px !important;
}


/* Create Playlist page specific styles */

.page-title {
  text-align: center !important;
  font-weight: 700;
  font-size: 2rem;
  text-transform: normal;
  color: #36324c;
}


body[data-page="create-playlist"] {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
}

.custom-form-group label {
  color:#36324c;
  align-items: center !important;
  text-align: center !important;
  font-weight: 700;
  display: block;
}

.custom-form-control {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 10px;
  border-radius: 5px;
}

.custom-form-control:focus {
  box-shadow: none;
  border-color: #fff;
}

/* card buttons */

.btn-spotify{
  background-color: #222 !important;
  color: white !important; 
  border: none !important;
  transition: all 0.3s ease;
  font-family: 'Circular', 'Poppins', sans-serif;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
}

.btn-spotify:hover {
  background-color:black!important;
  color: white !important;
  border: none !important;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #1ed760;
  color: #000;
  border: none;
  transition: all 0.3s ease;
  font-family: 'Circular', 'Poppins', sans-serif;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
}

.btn-primary:hover {
  background-color: #11c551!important;
  color: #000 !important;
  border: none;
  transition: all 0.3s ease;
}

.btn-primary:disabled {
  background-color: rgba(169, 169, 169, 0.3) !important;
  color:#b3b3b3 !important;
  border: none;
  transition: all 0.3s ease;
}

.btn-playlist {
  border: none;
  transition: all 0.3s ease;
  font-family: 'Circular', 'Poppins', sans-serif;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
}

.btn-login {
  color: black !important;
  background-color: #3cff71 !important;
  font-family: 'Circular', 'Poppins', sans-serif;
  font-weight: 700;
  padding: 0.375rem 0.75rem;
}

.btn-login:hover {
  background-color: #11c551!important;
  border: none;
}

.custom-btn {
  background-color: rgba(169, 169, 169, 0.3) !important;
  color:#b3b3b3 !important;
  border-radius: 500px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  border: none;
  font-family: 'Circular', 'Poppins', sans-serif;
  font-weight: 700;
}

.custom-btn:hover {
  border: none;
  transition: all 0.3s ease;
}

.btn-back {
  color: #000 !important;
  background-color: #e3daff !important;
  border-radius: 500px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  border-color: none;
  font-family: 'Circular', 'Poppins', sans-serif;
  font-weight: 700;
}

.btn-back:hover,
.btn-back:focus {
  border: none;
  transition: all 0.3s ease;
  background-color: #baa4ff !important;
  color: #000 !important;
  border: none !important;
}


.btn {
  border-radius: 500px !important;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: all 0.3s ease;

}

.btn:hover,
.btn:focus {
  border: none;
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: scale(0.98);
}

@keyframes btn-animation {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

.btn:focus:not(:active) {
  animation: btn-animation 0.5s ease-in-out;
}

/* recommendations */
#status-message {
  color:#36324c !important;
  text-align: center !important;

}
.progress-bar {
  background-color: #3cff71 !important;
}

.progress-bar-striped {
  background-size: 1rem 1rem;
  background-image: linear-gradient(45deg,rgba(13, 255, 0, 0.15) 25%,transparent 25%,transparent 50%,rgb(0 0 0 / 15%) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.home-title {
 font-size: 7em !important; 
}

.page-link {
  color: #000 !important;
}

  .page-link:hover {
    color: #8a62d5 !important;
    }