{% extends 'base.html' %}

{% block content %}

<div class="content-container">
    <h1 class="page-title">Create New Playlist</h1>
    <form method="POST" action="{{ url_for('create_playlist', playlist_id=session['playlist_id']) }}">
        <div class="form-group custom-form-group">
            <label for="playlist_name">Playlist Name</label>
            <input type="text" class="form-control custom-form-control" id="playlist_name" name="playlist_name" placeholder="Enter playlist name" required style="background-color: white; color: #333; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        </div>
        <button type="submit" class="btn btn-primary">Create Playlist</button>
        {% if request.MOBILE %}
            <a href="{{ url_for('mobile_rate_playlist', playlist_id=playlist_id) }}" class="btn btn-back">Back</a>
        {% else %}
            <a href="{{ url_for('rate_playlist', playlist_id=playlist_id) }}" class="btn btn-back">Back</a>
        {% endif %}
    </form>
</div>
{% endblock %} 