{% extends 'base.html' %}

{% block content %}
<div class="content-container">
    <h1 class="page-title">Enter Your Email</h1>
    <p>Please provide your email address. You will be notified when your recommended playlist is ready.</p>
    <form method="POST" action="{{ url_for('submit_email', playlist_id=session['playlist_id'], rec_playlist_id=session['rec_playlist_id']) }}">
        <div class="form-group custom-form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control custom-form-control" id="email" name="email" placeholder="Enter your email address" required style="background-color: white; color: #333; border: 1px solid #ccc; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
        </div>
        <button type="submit" class="btn btn-playlist">Submit Email</button>
    </form>
</div>
{% endblock %}
