{% extends 'base.html' %}
{% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    /* Media query for mobile devices */
    @media (max-width: 768px) {
      .simplified-hero h1 {
        font-size: 28px;
      }

      .simplified-hero h5 {
        font-size: 16px;
      }
    }
  </style>
<link rel="stylesheet" href="{% static 'lavalamp.css' %}">
{% endblock %}
{% block body_class %}fixed-footer{% endblock %}
{% block content %}
  <div class="simplified-hero" style="position: relative; z-index: 2;">
    <h1>Playlist Genie</h1>
    <h5>Discover new music tailored to your taste</h5>
    <div class="sign-up-options">
      <a href="{{ auth_url }}" class="btn rounded-pill btn-login">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/2048px-Spotify_logo_without_text.svg.png" alt="Spotify Logo" class="spotify-logo">
        Log in with Spotify
      </a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  function createBubble(x, y, radius) {
  const bubble = document.createElement('div');
  bubble.style.position = 'absolute';
  bubble.style.width = radius * 2 + 'px';
  bubble.style.height = radius * 2 + 'px';
  bubble.style.borderRadius = '50%';
  bubble.style.background = 'rgba(255, 255, 255, 0.2)';
  bubble.style.top = y - radius + 'px';
  bubble.style.left = x - radius + 'px';

  document.body.appendChild(bubble);

  setTimeout(() => {
    bubble.remove();
  }, 3000);
}

document.addEventListener('DOMContentLoaded', () => {
  setInterval(() => {
    const x = Math.random() * window.innerWidth;
    const y = window.innerHeight;
    const radius = Math.random() * 20 + 10;

    createBubble(x, y, radius);
  }, 500);
});
{% endblock %}