{% extends 'base.html' %}
{% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>
    /* Media query for mobile devices */
    @media (max-width: 768px) {
      .simplified-hero h1 {
        font-size: 28px;
      }

      .simplified-hero h5 {
        font-size: 16px;
      }
    }
  </style>
{% endblock %}
{% block body_class %}fixed-footer{% endblock %}
{% block content %}
  <div class="simplified-hero">
    <h1>Playlist Genie</h1>
    <h5>Discover new music tailored to your taste</h5>
    <div class="sign-up-options">
      <a href="{{ auth_url }}" class="btn rounded-pill btn-login">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/2048px-Spotify_logo_without_text.svg.png" alt="Spotify Logo" class="spotify-logo">
        Log in with Spotify
      </a>
    </div>
  </div>
{% endblock %}