{% extends 'base.html' %}

{% block content %}
<div class="container content-container">
    <h1 class="playlists-h1 mb-4">Your Playlists</h1>
    <div class="row">
        {% for playlist in playlists %}
            {% set unique_track_count = unique_track_counts[playlist['id']] %}
            {% set is_new_playlist = request.args.get('new_playlist') == playlist['id'] %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card playlist-card {{ 'newly-created' if is_new_playlist }}" style="border-radius: 10px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); transition: box-shadow 0.3s ease-in-out;">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if playlist['images'] %}
                                <img src="{{ playlist['images'][0]['url'] }}" class="playlist-img mr-2" alt="{{ playlist['name'] }}" style="border-radius: 50%; width: 60px; height: 60px; object-fit: cover;">
                            {% endif %}
                            {{ playlist['name'] }}
                        </h5>
                        <p class="card-text">{{ unique_track_count }} Tracks</p>
                        {% if unique_track_count >= 5 and unique_track_count <= 100 %}
                            {% if request.MOBILE %}
                                <a href="{{ url_for('mobile_rate_playlist', playlist_id=playlist['id']) }}" class="btn btn-primary" role="button" data-toggle="tooltip" data-placement="top" title="Rate Playlist">Rate Playlist</a>
                            {% else %}
                                <a href="{{ url_for('rate_playlist', playlist_id=playlist['id']) }}" class="btn btn-primary" role="button" data-toggle="tooltip" data-placement="top" title="Rate Playlist">Rate Playlist</a>
                            {% endif %}
                        {% elif unique_track_count < 5 %}
                        <button class="custom-btn custom-btn-secondary btn-disable" role="button" data-toggle="tooltip" data-placement="top" title="This playlist has less than 5 unique tracks">Rate Playlist</button>
                        {% else %}
                            <button class="custom-btn custom-btn-secondary btn-disable" role="button" data-toggle="tooltip" data-placement="top" title="This playlist has more than 100 unique tracks">Rate Playlist</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item page-item-back {% if offset == 0 %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('playlists', offset=previous_offset) }}">Back</a>
            </li>
            {% for i in range((total_playlists - 1) // limit + 1) %}
                <li class="page-item {% if offset == i * limit %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('playlists', offset=i * limit) }}">{{ i + 1 }}</a>
                </li>
            {% endfor %}
            <li class="page-item page-item-next {% if offset + limit >= total_playlists %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('playlists', offset=next_offset) }}">Next</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
      const urlParams = new URLSearchParams(window.location.search);
      const newPlaylistId = urlParams.get("new_playlist");
  
      if (newPlaylistId) {
        const playlistCards = document.querySelectorAll(".playlist-card");
  
        playlistCards.forEach(card => {
          if (card.dataset.playlistId === newPlaylistId) {
            card.classList.add("newly-created-card");
          }
        });
      }
    });
  </script>
  