{% extends 'base.html' %}

{% block content %}
<style>
    @media (max-width: 767px) {
        .card-title {
            font-size: 18px;
        }
        .playlist-card {
            margin-bottom: 20px;
        }
    }

    .card-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 250px; /* Adjust this value according to your design */
    }
</style>
<div class="container content-container">
    <h1 class="playlists-h1 mb-4">Your Playlists</h1>
    <div class="row">
        {% for playlist in playlists['items'] %}
            {% set track_count = playlist['tracks']['total'] %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="playlist-card">
                    <div class="card-body">
                        <h5 class="card-title" title="{{ playlist['name'] }}">{{ playlist['name'] }}</h5>
                        {% if track_count >= 5 %}
                            <a href="{{ url_for('rate_playlist', playlist_id=playlist['id']) }}" class="btn btn-playlist">Rate Playlist</a>
                        {% else %}
                            <button class="btn btn-secondary" disabled>Rate Playlist (less than 50 tracks)</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}