{% extends 'base.html' %}

{% block content %}
  <h1 class="rate-songs-h1 mb-4">Rate Playlist</h1>
  <p class="body-text">Please rate and listen to the following tracks:</p>
  <form method="POST" action="{{ url_for('save_ratings', playlist_id=playlist_id) }}">
    <div id="tracks-container"></div>
    <br>
    <button type="submit" class="btn btn-playlist" style="margin-bottom: 20px;">Save Ratings</button>
    <a href="{{ url_for('playlists') }}" class="btn btn-primary" style="margin-bottom: 20px;">Back</a>
  </form>
{% endblock %}
{% block extra_js %}
  <script>
    function initializeStarRating() {
      const ratingStarsContainers = document.querySelectorAll('.rating-stars:not(.initialized)');

      ratingStarsContainers.forEach(container => {
        container.classList.add('initialized');
        const ratingStars = container.querySelectorAll('input[type="radio"]');
        const ratingLabels = container.querySelectorAll('label');

        function updateRating(rating) {
          for (let i = 0; i < ratingStars.length; i++) {
            if (i < rating) {
              ratingLabels[i].classList.add('green');
            } else {
              ratingLabels[i].classList.remove('green');
            }
          }
        }

        ratingStars.forEach((radio, index) => {
          ratingLabels[index].addEventListener('mouseenter', () => {
            updateRating(index + 1);
          });
          radio.addEventListener('click', () => {
            updateRating(index + 1);
          });
          ratingLabels[index].addEventListener('mouseleave', () => {
            const selectedRating = container.querySelector('input[type="radio"]:checked');
            if (selectedRating) {
              updateRating(parseInt(selectedRating.value));
            } else {
              updateRating(0);
            }
          });
        });

        // Set initial rating
        const defaultRating = 5;
        ratingStars[defaultRating - 1].checked = true;
        updateRating(defaultRating);
      });
    }

    const tracksContainer = document.getElementById('tracks-container');
    let start = 0;
    const limit = 10;
    const playlistId = '{{ playlist_id }}';

    function fetchAndRenderTracks() {
      fetch(`/rate_playlist/${playlistId}/${start}/${limit}`)
        .then(response => response.text())
        .then(html => {
          if (html) {
            tracksContainer.innerHTML += html;
            start += limit;
            initializeStarRating();
          }
        })
    }

    // Initial fetch
    fetchAndRenderTracks();
  </script>
{% endblock %}


 