{% extends 'base.html' %}

{% block content %}
<div class="content-container">
    <h1 class="page-title">Generating Recommendations</h1>
    <p id="status-message">Please wait while we generate recommendations for your playlist...</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <div id="error-message" style="display: none;"></div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<script>
    var request_id = "{{ request_id }}";
    var socket = io.connect(location.protocol + '//' + document.domain + (location.port ? ':' + location.port : '') + '/recommendation');

    socket.on('connect', function() {
        console.log('Connected to the server.');
    });

    socket.on('connect_error', function(error) {
        console.error('Error connecting to the server:', error);
    });

    socket.on('playlist_data_processing', function(data) {
        console.log('Received playlist_data_processing event:', data);
        if (data.request_id === request_id) {
            document.getElementById("status-message").innerHTML = "Processing your playlist data...";
        }
    });

    socket.on('audio_features_retrieved', function(data) {
        console.log('Received audio_features_retrieved event:', data);
        if (data.request_id === request_id) {
            document.getElementById("status-message").innerHTML = "Retrieving audio features...";
        }
    });

    socket.on('knn_model_trained', function(data) {
        console.log('Received knn_model_trained event:', data);
        if (data.request_id === request_id) {
            document.getElementById("status-message").innerHTML = "Training your model...";
        }
    });

    socket.on('recommended_tracks_retrieved', function(data) {
        console.log('Received recommended_tracks_retrieved event:', data);
        if (data.request_id === request_id) {
            document.getElementById("status-message").innerHTML = "Retrieving recommended tracks...";
        }
    });

    socket.on('recommendation_done', function(data) {
        console.log('Received recommendation_done event:', data);
        if (data.request_id === request_id) {
            document.getElementById("status-message").innerHTML = "Recommendations generated successfully!";
            window.location.href = "/playlist_list.html?new_playlist=" + data.rec_playlist_id;

        }
    });

    socket.on('recommendation_error', function(data) {
        console.error('Received recommendation_error event:', data);
        if (data.request_id === request_id) {
            var errorMessage = document.getElementById("error-message");
            errorMessage.innerHTML = "Error: " + data.message;
            errorMessage.style.display = "block";
        }
    });

    socket.on('disconnect', function() {
        console.log('Disconnected from the server.');
    });

    socket.on('error', function(error) {
        console.error('An error occurred on the socket connection:', error);
    });
</script>
{% endblock %}

