{% for track in tracks %}
  <div class="rate-songs-card">
    <div class="card-body">
      <h5 class="card-title">{{ track.track.name }}</h5>
      <p class="card-text">Artist: {{ track.track.artists[0].name }}</p>
      <p class="card-text">Album: {{ track.track.album.name }}</p>
      <div class="spotify-player">
        <iframe class="spotify-player" src="https://open.spotify.com/embed/track/{{ track.track.id }}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media" onload="this.classList.add('loaded');"></iframe>
      </div>
      <div class="rating-stars">
        {% for i in range(1, 11) %}
          <input type="radio" id="rating-{{ i }}-{{ track.track.id }}" name="rating-{{ loop.index0 + start }}" value="{{ i }}" {% if i == 5 %}checked{% endif %}>
          <label for="rating-{{ i }}-{{ track.track.id }}">{{ i }}</label>
        {% endfor %}
      </div>
    </div>
  </div>
  <br>
{% endfor %}